*{ box-sizing: border-box; margin:  0 auto; }

/* navber part */
.nav{ display: flex; justify-content: space-between; max-width: 1600px; 
     align-items: center; padding: 16px 200px; margin: 0 auto; background-color: #1A0B2E;}


     /* list part */
     .list{ display: flex; justify-content: center; gap: 32px;}
     /* logo part */
     h3{ font-size: 2rem; color: #ffffff; text-transform: capitalize; text-align: left; }
/* span part */
     .span{ color: rgb(231, 51, 231); text-transform: capitalize;font-size: 2rem;}
     /*  link part */
     .list a{ color: #ffffff; text-transform: capitalize; text-decoration: none;font-size: 16px;}
/* hover  */
.list a:hover{ background-color: aqua; color: black; padding: 5px 10px; border-radius: 16px;}

     .list li{ list-style: none;}

     /* button  */
     .btn{ padding: 12px 16px; font-size: 18px;
         border-radius: 20px; text-align: center;
          color: #ffffff; background-image:linear-gradient(to bottom left, rgb(65, 5, 65),rgb(236, 11, 169),rgb(252, 252, 56))  }

/* hero part */
.hero{ background-image: url(./assets/hero-bg.png);  max-width: 1600px; 
    background-size: cover; margin: 0 auto;  text-align: center; position: relative;
    border: 2px solid rgb(177, 22, 216); height: auto; background-position: center; width: 100%;
    background-repeat: no-repeat;}
    
.circle-img{ margin-top: 40px;}
     .img2{ position:absolute; left: 49%;top: 32%; transform: translate(-50%, -50%); width: 80px;} 
     h2{ text-transform: capitalize; font-size: 4rem; font-weight: 900;
        margin: 40px auto 0px;
        color: #ffffff;}
/* hero-container */



.hero p{ font-size: 16px;font-weight: 400;
     text-transform: capitalize; color: rgb(150, 141, 141);
 margin: 15px 0px; 

}
/* button-2 */


.hero-button{ padding-bottom: 60px;}
.btn2{ text-align: center;color: greenyellow;  border-radius: 15px; font-size: 18px;
    border: 2px solid rgb(177, 30, 235); background-color: #1A0B2E;
     padding: 10px 16px;}
 .btn1{ padding: 12px 16px; font-size: 18px;border: 2px solid rgb(51, 231, 35);
         border-radius: 20px; text-align: center;
          color: #ffffff; background-image:linear-gradient(to bottom left, rgb(65, 5, 65),rgb(236, 11, 169),rgb(252, 252, 56)) }
.btn2:hover{ background-color: rgb(233, 90, 126); color: rgb(11, 10, 12);}
/* animation */
.microphone{ transform: rotate(360deg);  transition: transform 0.5s ease-in-out; display: inline-block;}
/*  new  icon */
.hero h4{ background-color: rgb(43, 223, 43); border-radius: 15px; font-size: 1.25rem;
    
     width: 70px;height: 30px; text-align: center; margin:  0  auto; border: 1px solid white;
    
    color: black; position: absolute; right: 42%; top: 50px;}


/* views part */
.views-part{  background-color: #1A0B2E; max-width:1600px ;  border: #a93de7 solid  2px;
     padding: 50px 200px 120px; text-align: center;}

.main-titel h1{ font-size: 3rem; font-weight: 800; color: #FFFFFF;  margin-bottom: 10px; }
.main-titel p{ font-size: 1rem; font-weight:400; line-height: 30px;
      color: #d4c2c2; text-align: center;}

.views{  display: grid;  grid-template-columns: repeat(4,1fr); margin-top: 80px; gap: 35px; }

.views h3{ color: #00FF88; font-size: 3rem;}
.views p{ color: #b1a7a7; font-size: 1rem;}


/* choose part */
.section3{ background-color: #230E3D; max-width: 1600px; padding: 120px 200px;}

.why-choose{ font-size: 3rem; font-weight: 800; color: #FFFFFF; margin-bottom: 40px;}


.cause-of-choose h3{ font-size: 1.5rem; font-weight: 400; color: #FFFFFF;}
.cause-of-choose p{ font-size: .9rem; font-weight: 400; color: #d6cccc; line-height: 24px; 




text-align: justify; margin-top: 10px;}



/* choose part img 


/* choose grid */


.cause1{ grid-area: cause1; background: #351165;  
    border-radius: 40px; padding: 100px 40px; width: 100%;}
.cause2{ grid-area: cause2;background: #351165; width: 100%;
     border-radius: 40px; padding: 40px 40px;}
.cause3{ grid-area: cause3;background: #351165;  width: 100%;
    border-radius: 40px; padding: 40px 40px;}
.cause4{ grid-area: cause4;background: #351165;  width: 100%;
    border-radius: 40px;padding: 40px 40px;}
.cause5{ grid-area: cause5;background: #351165;  width: 100%;
    border-radius: 40px;padding: 40px 40px;}

.cause-of-choose{   display: grid; justify-content: center; 
grid-template-columns: repeat(3,1fr);
column-gap: 30px; row-gap: 30px;
    grid-template-areas: "cause1 cause2 cause2 " 
    
                        "cause1 cause3 cause3"
                        " cause4 cause4  cause5";
}







































          /* for small device */
          @media screen and (max-width:576px) {


            .nav-container{ display: flex;  align-items: center; width: 100%;  

                justify-content: space-between; }





.nav{ width: 100%;  padding: 5px; display: block; }

h3{ margin-left: 8px;}
             .hamberger-icon{ color: #ffffff; font-size: 1.5rem;
                 margin-right: 8px; display: block;}
            .list{ display: none;}
            .btn{ display: none;}

/* hero part */

.hero h2{ font-size: 2rem;}
.hero p{ font-size: 14px; margin: 10px 0px;}
 .hero { position: relative;}

 .circle-img {
        width: 170px; 
        margin-top: 60px; display: block;
    }
.new {
        position: absolute;
        
        left: 50%;
        transform: translateX(-50%);
          right:-15px ;   
       
    }
    .img2 {
        position: absolute; 
   
         left: 50%;   
         transform: translate(-50%, -50%);  z-index: 5; 
         
    }
 .img2 ,.microphone{ width: 60px;   }
/*  views part */
.main-titel h1 { font-size: 2.3rem; width: 90%; padding: 6px; margin-top: 10px;}
.main-titel p { font-size: .8rem; width: 80%; line-height: 16px
    ; text-align: center; padding:0px 6px; overflow-wrap: normal;}

.views-part{ padding: 0px;}

/* grid part */
.views{  display: grid;  grid-template-columns: repeat(2,1fr); width: 90%; 
      column-gap: 20px; row-gap: 20px;  padding-bottom: 30px;} 

.views h3{ font-size: 2rem;}
.views p{ font-size: .8rem;}
/* choose part */

.cause-of-choose{   display: grid; justify-content: center; 
grid-template-columns: repeat(1,1fr);
column-gap: 10px; row-gap: 20px; 
 grid-template-areas: "cause1  " 
                        " cause2 "
                        " cause3" 
                        "cause4"
                        "cause5"
                        ;
} 
    
.cause1,.cause2,.cause3,.cause4 ,.cause5{ width: 90%; }


.section3{ background-color: #230E3D;  padding: 0px;}

.why-choose{ font-size: 1.25rem; font-weight: 400; color: #FFFFFF; padding: 30px; text-align: center;}


.cause-of-choose h3{ font-size: 1rem; font-weight: 400; color: #FFFFFF; margin-top: 10px;}
.cause-of-choose p{ font-size: .7rem; font-weight: 400; color: #cfbfbf; line-height: 24px; }






















}

          /* for middle level device */

@media screen and (min-width:576px) and (max-width:992px) {


    .nav{ flex-direction: column;}

    .list{ margin: 10px;}

    .btn{ margin: 10px;}

/* hero part */

.hero{ position: relative;}

.circle-img{ width: 220px;}
 .new{  position: absolute;
    left: 50%; transform: translateX(-50%); z-index: 10;}

.img2 {position: absolute;
    left: 50%; transform: translate(-50%, -60%);}

.img2, .microphone{  width: 60px; }




/* views */
.views-part{ padding: 0px;}

.views{  display: grid;  grid-template-columns: repeat(4,1fr); width: 90%; 
      column-gap: 10px; row-gap: 15px;  padding-bottom: 30px;} 
      .main-titel h1 { font-size: 2.7rem; width: 90%; padding: 6px; margin-top: 10px;}
.main-titel p { font-size: 1rem; width: 90%; line-height: 16px
    ; text-align: center; padding:0px 6px; overflow-wrap: normal;}


/* choose part */

.cause-of-choose{   display: grid; justify-content: center; 
grid-template-columns: repeat(2,1fr);
column-gap: 10px; row-gap: 20px; 
 grid-template-areas: "cause1  cause2 " 
                        "cause3  cause4 "
                        "cause5 cause5"
                        ;
} 
    
.cause1,.cause2,.cause3,.cause4 ,.cause5{ width: 90%; }


.section3{ background-color: #230E3D;  padding: 0px;}

.why-choose{ font-size: 1.25rem; font-weight: 400; color: #FFFFFF; padding: 30px; text-align: center;}


.cause-of-choose h3{ font-size: 1rem; font-weight: 400; color: #FFFFFF; margin-top: 10px;}
.cause-of-choose p{ font-size: .7rem; font-weight: 400; color: #cfbfbf; line-height: 24px; }
























}

          /* large device*/
          @media screen and (min-width: 992px){
            
.hamberger-icon{ display: none;}

          }