*{ box-sizing: border-box; margin:  0 auto; }

/* navber part */
.nav{ display: flex; justify-content: space-between; max-width: 1600px; 
     align-items: center; padding: 16px 200px; margin: 0 auto; background-color: #1A0B2E;}


     /* list part */
     .list{ display: flex; justify-content: center; gap: 32px;}
     /* logo part */
     h3{ font-size: 3rem; color: #ffffff; text-transform: capitalize; text-align: left;  font-weight: 900;}
/* span part */
     .span{ color: rgb(231, 51, 231); text-transform: capitalize;font-size: 2rem;}
     /*  link part */
     .list a{ color: #ffffff; text-transform: capitalize; text-decoration: none;font-size: 16px;}
/* hover  */
.list a:hover{ background-color: aqua; color: black; padding: 5px 10px; border-radius: 16px;}

     .list li{ list-style: none; }

     /* button  */
     .btn{ padding: 12px 16px; font-size: 18px;
         border-radius: 20px; text-align: center;
          color: #ffffff; background-image:linear-gradient(to bottom left, rgb(65, 5, 65),rgb(236, 11, 169),rgb(252, 252, 56))  }

/* hero part */
.hero{ background-image: url(./assets/hero-bg.png);  max-width: 1600px; 
    background-size: cover; margin: 0 auto;  text-align: center; position: relative;
    height: auto; background-position: center; width: 100%;
    background-repeat: no-repeat; padding: 5px;}
    
.img1{ margin-top: 30px;}
     .img2{ position:absolute; left: 49%;top: 32%; transform: translate(-50%, -50%); width: 80px;} 
     h2{ text-transform: capitalize; font-size: 4rem; font-weight: 900;
        margin: 40px auto 0px;
        color: #ffffff;}



        .neww{ position: relative;}
        .new{ position: absolute; left: 56%; transform: translateX(40%); transform: translateY(-59%);}
/* hero-container */



.hero p{ font-size: 16px;font-weight: 400;
     text-transform: capitalize; color: rgb(150, 141, 141);
 margin: 15px 0px; 

}
/* button-2 */


.hero-button{ padding-bottom: 60px;}
.btn2{ text-align: center;color: greenyellow;  border-radius: 15px; font-size: 18px;
    border: 2px solid rgb(177, 30, 235); background-color: #1A0B2E;
     padding: 12px 16px;}
 .btn1{ padding: 12px 16px; font-size: 18px;border: 2px solid rgb(51, 231, 35);
         border-radius: 20px; text-align: center;
          color: #ffffff; background-image:linear-gradient(to bottom left, rgb(65, 5, 65),rgb(236, 11, 169),rgb(252, 252, 56)) }
.btn2:hover{ background-color: rgb(233, 90, 126); color: rgb(11, 10, 12);}
/* animation */
.microphone{ transform: rotate(360deg);  transition: transform 0.5s ease-in-out; display: inline-block;}
/*  new  icon */
.hero h4{ background-color: rgb(43, 223, 43); border-radius: 15px; font-size: 1.25rem;
    
     width: 70px;height: 30px; text-align: center; margin:  0  auto; border: 1px solid white;
    
    color: black; position: absolute; right: 42%; top: 50px;}


/* views part */
.views-part{  background-color: #1A0B2E; max-width:1600px ; 
     padding: 50px 200px 120px; text-align: center;}

.main-titel h1{ font-size: 3rem; font-weight: 800; color: #FFFFFF;  margin-bottom: 10px; }
.main-titel p{ font-size: 1rem; font-weight:400; line-height: 30px;
      color: #d4c2c2; text-align: center;}

.views{  display: grid;  grid-template-columns: repeat(4,1fr); margin-top: 80px; gap: 35px; }

.views h3{ color: #00FF88; font-size: 3rem;}
.views p{ color: #b1a7a7; font-size: 1rem;}


/* choose part */
.section3{ background-color: #230E3D; max-width: 1600px; padding: 120px 200px;}

.why-choose{ font-size: 2.8rem; font-weight: 800; color: #FFFFFF; margin-bottom: 40px;}


.cause-of-choose h3{ font-size: 1.5rem; font-weight: 400; color: #FFFFFF;}
.cause-of-choose p{ font-size: .9rem; font-weight: 400; color: #d6cccc; line-height: 24px; 




text-align: justify; margin-top: 10px;}



/* choose part img 


/* choose grid */


.cause1{ grid-area: cause1; background: #351165;  
    border-radius: 40px; padding: 100px 40px; width: 100%;}
.cause2{ grid-area: cause2;background: #351165; width: 100%;
     border-radius: 40px; padding: 40px 40px;}
.cause3{ grid-area: cause3;background: #351165;  width: 100%;
    border-radius: 40px; padding: 40px 40px;}
.cause4{ grid-area: cause4;background: #351165;  width: 100%;
    border-radius: 40px;padding: 40px 40px;}
.cause5{ grid-area: cause5;background: #351165;  width: 100%;
    border-radius: 40px;padding: 40px 40px;}

.cause-of-choose{   display: grid; justify-content: center; 
grid-template-columns: repeat(3,1fr);
column-gap: 30px; row-gap: 30px;
    grid-template-areas: "cause1 cause2 cause2 " 
    
                        "cause1 cause3 cause3"
                        " cause4 cause4  cause5";
}

/* features part */


.section4{ max-width: 1600px; background-color: #1A0B2E; padding: 120px 200px;}

/* features h1 */
.features{ font-size: 3rem; font-weight: 900; color: #FFFFFF; margin: 0px auto 35px; text-align: center;} 

/* card */
.card1,.card2,.card3{ background-color: #250D44;  padding: 20px 15px; border-radius: 14px; border: 1px solid rgb(154, 155, 153);}


.youtube-card{ display: flex; justify-content: center; gap: 20px; }

.youtube-card  h4{ font-size: 1.5rem; color: #FFFFFF;  margin: 10px 0px; padding-top: 10px ;}

.youtube-card p{ font-size: 1.25rem; color: #a09d9d; 
     line-height: 30px; margin-bottom: 20px;}

/* clock img */
 .circle-img{ display: flex; justify-content: center; align-items: center; padding: 14px;}



.time{ color: #00FF88; font-size: 1rem;}


/* host part */
.section5{ max-width: 1600px; background-color: #1A0B2E; padding: 0px 200px 120px; }

.host h1{ font-size: 3rem; font-weight: 800; color: #FFFFFF;  margin: 0 auto; text-align: center;}

.host-container{ display: flex; gap: 54px;background-color: #351165; margin-top: 40px; padding: 10px 50px;
    border-radius: 15px; border: #00FF88 2px solid;
    justify-content: center; align-items: center;}

.host-about h2{ font-size: 2rem; font-weight: 600; margin-bottom: 15px;}


.host-about p{ font-size: 1rem; font-weight: 400; color: #b8aaaa; line-height: 24px;}
.host-link { display: flex; align-items: center; justify-content:center;
    margin: 25px auto 10px 0px ; gap: 5px; width: 42%;
   }


.host-link  a{ border: #dcd5e0  1px solid ; border-radius: 50%; padding: 10px;}

.host-link  a:hover{ border: #22e01b  3px solid ; border-radius: 50%; padding: 10px; }

/* footer part */
.section6{background-image: url(./assets/footer-bg.png); background-position: center; background-repeat: no-repeat
    
    ;
    background-size: cover; margin: 0 auto; max-width: 1600px;



} 
.footer{ padding: 120px 105px 135px;}


 h2{ font-size: 3rem; color: #ffffff; text-transform: capitalize;  font-weight: 900; }
/* span part */
     .span{ color: rgb(231, 51, 231); text-transform: capitalize;font-size: 3rem; }

.footer,.footer-titel h2{ text-align: center; margin-bottom: 20px;}

.footer-img{ display: flex; justify-content: flex-start; align-items: center;  width: 50%;}


.footer-img a{ color: white; text-decoration: none;}
.footer-img a:hover{ color: rgb(29, 236, 39);}


/*  */
.f-img{ display: flex ; gap: 5px; justify-content: center; align-items: center;}

.f-img-titel{ color: #d6cccc;}
/* copy right part */
.copy-right{  color: rgb(163, 171, 179);
    font-weight: 400;
    margin-top: 32px; font-size: 1rem;}







/* small device */


          /* for small device */
          @media screen and (max-width:576px) {


            .nav-container{ display: flex;  align-items: center; width: 100%;  

                justify-content: space-between; }



h3{ font-size: 2.5rem; color: #ffffff; text-transform: capitalize; text-align: left;  font-weight: 900;}
/* span part */
     .span{ color: rgb(231, 51, 231); text-transform: capitalize;font-size: 2rem;}

.nav{ width: 100%;  padding: 5px; display: block; }

h3{ margin-left: 8px;}
             .hamberger-icon{ color: #ffffff; font-size: 1.5rem;
                 margin-right: 8px; display: block;}
            .list{ display: none;}
            .btn{ display: none;}

/* hero part */


 .hero{ background-image: url(./assets/hero-bg.png);  max-width: 1600px;  
    background-size: contain; margin: 0 auto;  text-align: center; position: relative;
    border: 1px solid rgb(44, 25, 53); height: auto; background-position: center; width: 100%;
    background-repeat: no-repeat; background-color: #1b0933;}

.hero h2{ font-size: 2.5rem;}
.hero p{ font-size: 14px; margin: 12px 0px;}
 .hero { position: relative; width: 100%; padding:0px 0px; height: 100vh;}

.img1 { 
              position: relative;  
         margin-top: 150px; display: block;
    }



 .circle-img { 
         width: 170px;    ;
    }

    .neww{ position: relative; display: block;}
.new {
        position: absolute;
         top: 0px; right: 0%;
        left: 58%; 
        transform: translateX(-00%);
        transform: translateY(-110%);
       z-index: 10;
    }

 

    
    .img2 {
        position: absolute; 
   top: 42%; 
    bottom: 50%;
         left: 50%;   
         transform: translatex(-50%,-50%);  z-index: 5; 
         
    }



 .img2 ,.microphone{ width: 50px;   }



 .hero-button{ padding-bottom: 10px;  display: flex; gap: 0px;}

.btn1{padding: 5px 10px; border: 2px solid rgb(51, 231, 35);border-radius: 20px; text-align: center; color: #ffffff; background-image:linear-gradient(to bottom left, rgb(65, 5, 65),rgb(236, 11, 169),rgb(252, 252, 56)) ;font-size: 15px;}

  .hero-button{ padding-bottom: 60px;}
.btn2{ text-align: center;color: greenyellow;  border-radius: 15px; font-size: 15px;
    border: 2px solid rgb(177, 30, 235); background-color: #1A0B2E;
     padding: 5px 10px;}
 
 .btn2{ width: 40%; height: auto; }
 .btn1{ width: 50%;}
/*  views part */
.main-titel h1 { font-size: 2rem; width: 100%; padding: 3px; padding-top: 10px;}
.main-titel p { font-size: .8rem; width: 80%; line-height: 16px
    ; text-align: center; padding:0px 6px; overflow-wrap: normal;}

.views-part{ padding: 0px;}

/* grid part */
.views{  display: grid;  grid-template-columns: repeat(2,1fr); width: 90%; 
      column-gap: 20px; row-gap: 20px;  padding-bottom: 30px;} 

.views h3{ font-size: 1.5rem; }
.views p{ font-size: .8rem;}
/* choose part */
/* .section3{ background-color: #230E3D; max-width: 1600px; padding: 120px 200px;}

.why-choose{ font-size: 2.8rem; font-weight: 800; color: #FFFFFF; margin-bottom: 40px;}
 */
.cause-of-choose{   display: grid; justify-content: center; 
grid-template-columns: repeat(1,1fr);
column-gap: 10px; row-gap: 20px; 
 grid-template-areas: "cause1  " 
                        " cause2 "
                        " cause3" 
                        "cause4"
                        "cause5"
                        ;
} 
    
.cause1,.cause2,.cause3,.cause4 ,.cause5{ width: 90%; }


.section3{ background-color: #230E3D;  padding: 18px 5px;}

.why-choose h1{ font-size: 1.75rem; font-weight: 800; color: #FFFFFF; width: 100%; padding:10px 0px; text-align: center;}


.cause-of-choose h3{ font-size: 1rem; font-weight: 400; color: #FFFFFF; margin-top: 10px;}
.cause-of-choose p{ font-size: .7rem; font-weight: 400; color: #cfbfbf; line-height: 24px; }



/* youtube vedio link */
.section4{  background-color: #1A0B2E;  padding: 80px 10px; margin: 0 auto;}

/* features h1 */
.features{ font-size: 1.0rem; font-weight: 500; color: #FFFFFF; margin-bottom: 15px; text-align: center;} 

/* card */
.card1,.card2,.card3{ background-color: #250D44;   width: 100%; 

padding: 5px 20px;}


.youtube-card{ display: flex; flex-direction: column; gap: 20px;  flex-wrap: wrap; align-items: center;}

.youtube-card  h4{ font-size: 1.0rem; color: #FFFFFF;  margin: 15px 0px;}

.youtube-card p{ font-size: .8rem; color: #a09d9d; padding: 0px 6px;
     line-height: 20px; margin-bottom: 5px;}

/* clock img 
 .circle-img{ display: flex; justify-content: center; align-items: center; padding: 14px;}
*/


.time{ color: #00FF88; font-size: 1rem;}

iframe{ width: 100%; height: 50vh;}


/* host part */
.section5{ max-width: 1600px; background-color: #1A0B2E; padding: 0px 20px 40px 20px; }

.host h1{ font-size: 2.5rem; font-weight: 400; color: #FFFFFF;  margin: 0 auto; text-align: center;}

.host-container{ display: flex; gap: 2px;background-color: #351165; margin-top: 40px; padding: 40px 30px;
    border-radius: 15px; border: #00FF88 2px solid; flex-direction: column;width: 100%;
    justify-content: center; align-items: center;}

.host-about h2{ font-size: 1.5rem; font-weight: 600; margin-bottom:10px; text-align: center;}


.host-about p{ font-size: 1rem; font-weight: 400; color: #d6cccc; line-height: 24px;}
.host-link { display: flex; align-items: center; justify-content:center;
    margin-top: 25px auto 10px 0px; gap: 5px; width: 100%;
   }

/* footer part */
.footer{ padding: 10px 10px 20px;}


 h2{ font-size: 2.5rem; color: #ffffff; text-transform: capitalize;  }
/* span part */
     .span{ color: rgb(231, 51, 231); text-transform: capitalize;font-size: 2.5rem;}

.footer,.footer-titel h2{ text-align: center;}

.footer-img{ display: flex; justify-content: center; align-items: center;  width: 70%;
flex-wrap: wrap; gap:20px
}


.footer-img a{ color: white; text-decoration: none;}
.footer-img a:hover{ color: rgb(29, 236, 39);}


/*  */
.f-img{ display: flex ; gap: 5px; justify-content: center; align-items: center;}

.f-img-titel{ color: #d6cccc;}
/* copy right part */
.copy-right{  color: rgb(163, 171, 179);
    font-weight: 400;
    padding: 15px 5px; font-size: 1rem;}







 











}

          /* for middle level device */

@media screen and (min-width:576px) and (max-width:992px) {


    .nav{ flex-direction: column; margin: 0 auto; gap: 15px;}

    .list{ padding: 10px;} 

     .btn{  padding: 10px; margin: 10px auto} 

/* hero part */

.hero{ position: relative; margin: 0 auto; padding: 5px;}

.circle-img{ width: 250px; margin-top: 80px;}
.neww{ position: relative;}
 .new{  position: absolute; transform: translateY(-30%);
    left: 58%;  z-index: 10;}

.img2 {position: absolute;
    left: 50%; transform: translate(-50%, -40%);}

.img2, .microphone{  width: 60px; }

.hero p{ margin: 20px auto;}


/* views */
.views-part{ padding: 0px;}

.views{  display: grid;  grid-template-columns: repeat(4,1fr); width: 90%; 
      column-gap: 10px; row-gap: 15px;  padding-bottom: 30px;} 
      .main-titel h1 { font-size: 2.7rem; width: 90%;  padding-top: 10px;}
.main-titel p { font-size: 1rem; width: 90%; line-height: 16px
    ; text-align: left; padding:0px 6px; overflow-wrap: normal;}


/* choose part */

.cause-of-choose{   display: grid; justify-content: center; 
grid-template-columns: repeat(2,1fr);
column-gap: 10px; row-gap: 20px; 
 grid-template-areas: "cause1  cause2 " 
                        "cause3  cause4 "
                        "cause5 cause5"
                        ;
} 
    
.cause1,.cause2,.cause3,.cause4 ,.cause5{ width: 90%; }


.section3{ background-color: #230E3D;  padding: 0px;}

.why-choose{ font-size: 1.25rem; font-weight: 400; color: #FFFFFF; padding: 30px; text-align: center;}


.cause-of-choose h3{ font-size: 1rem; font-weight: 400; color: #FFFFFF; margin-top: 10px;}
.cause-of-choose p{ font-size: .7rem; font-weight: 400; color: #cfbfbf; line-height: 24px; }

/* features part */
.section4{ max-width: 1600px; background-color: #1A0B2E; padding: 80px 20px;}

/* features h1 */
.features{ font-size: 2rem; font-weight: 500; color: #FFFFFF; margin-bottom: 15px;} 

/* card */
.card1,.card2,.card3{ background-color: #250D44;  padding: 0px 15px; }


.youtube-card{ display: flex; justify-content: center; gap: 30px;  flex-direction: column;}

.youtube-card  h4{ font-size: 2rem; color: #FFFFFF;  margin: 10px 0px; padding-top: 15px ;}

.youtube-card p{ font-size: 1.0rem; color: #a09d9d; 
     line-height: 30px; margin-bottom: 20px;}
     iframe{ width: 100%;}

/* clock img */
 .circle-img{ display: flex; justify-content: center; align-items: center; padding: 14px;}



.time{ color: #00FF88; font-size: 1rem;}




/* host part */
section5{ max-width: 1600px; background-color: #1A0B2E; padding:20px  30px; }

.host h1{ font-size: 2.5rem; font-weight: 400; color: #FFFFFF;  margin: 0 auto; text-align: center;}

.host-container{ display: flex; gap: 2px;background-color: #351165; margin-top: 40px; padding: 30px 40px;
    border-radius: 15px; border: #00FF88 2px solid; flex-direction: column;width: 100%;
    justify-content: center; align-items: center;}

.host-about h2{ font-size: 1.5rem; font-weight: 600; margin-bottom:10px; text-align: center;}


.host-about p{ font-size: 1rem; font-weight: 400; color: #d6cccc; line-height: 24px;}
.host-link { display: flex; align-items: center; justify-content:center;
    margin: 25px auto 10px 0px; gap: 5px;width: 100%;
   }

/* foter */
.footer{ padding: 10px 10px 20px;}


 h2{ font-size: 3.5rem; color: #ffffff; text-transform: capitalize;  }
/* span part */
     .span{ color: rgb(231, 51, 231); text-transform: capitalize;font-size: 3.5rem;}

.footer,.footer-titel h2{ text-align: center;}

.footer-img{ display: flex; justify-content: center; align-items: center;  width: 70%;
flex-wrap: wrap; gap:6px
}


.footer-img a{ color: white; text-decoration: none;}
.footer-img a:hover{ color: rgb(29, 236, 39);}


/*  */
.f-img{ display: flex ; gap: 5px; justify-content: center; align-items: center;}

.f-img-titel{ color: #d6cccc;}
/* copy right part */
.copy-right{  color: rgb(163, 171, 179);
    font-weight: 400;
    padding: 15px 5px; font-size: 1rem;}
































}

          /* large device*/
          @media screen and (min-width: 992px){
            
.hamberger-icon{ display: none;}

          }